In [1]:
# Dependencies
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
from splinter import Browser
import time

## NASA Mars News

In [2]:
# NASA URL to be scraped
url1 = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'

# Retrieve page with the requests module
response = requests.get(url1)

In [3]:
# Create a Beautiful Soup object of the NASA site
soup1 = bs(response.text, 'html.parser')
type(soup1)

bs4.BeautifulSoup

In [4]:
# Print formatted version of the soup
#print(soup1.prettify())

In [5]:
# Extract the text of the title and Clean up the text
soup1.title.text.strip()

'News  – NASA’s Mars Exploration Program'

In [6]:
# Extract the text using strip functionality
news_title = soup1.find_all('div', class_='content_title')[0].find('a').text.strip()

#print out the title
print(news_title)

Opportunity Hunkers Down During Dust Storm

## JPL Mars Space Images - Featured Image

### Mac Users

In [7]:
# https://splinter.readthedocs.io/en/latest/drivers/chrome.html
!which chromedriver

/usr/local/bin/chromedriver

In [8]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [9]:
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [10]:
# Create a soup object of the JPL website
html = browser.html
soup2 = bs(html, 'html.parser')
type(soup2)

bs4.BeautifulSoup

In [11]:
partial_address = soup2.find_all('a', class_='fancybox')[0].get('data-fancybox-href').strip()

In [12]:
#combine root url with the full address
featured_image_url = "https://www.jpl.nasa.gov"+partial_address

In [13]:
#Print 
print(featured_image_url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA19330_ip.jpg

In [14]:
#browse to check url
browser.visit(featured_image_url)

## Mars Weather

In [15]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [16]:
url3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url3)

In [17]:
html = browser.html
soup3 = bs(html, 'html.parser')
type(soup3)

bs4.BeautifulSoup

In [18]:
#scrap latest Mars weather tweet and print
mars_weather = soup3.find_all('p', class_='TweetTextSize TweetTextSize--normal js-tweet-text tweet-text')[0].text

print(mars_weather)

Sol 2230 (2018-11-14), high -5C/23F, low -72C/-97F, pressure at 8.59 hPa, daylight 06:22-18:39

## Mars Facts

In [19]:
url4 = 'https://space-facts.com/mars/'

In [20]:
tables = pd.read_html(url4)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [21]:
# Convert list of table into pandas dataframe
df = tables[0]
df.columns=['description','value']

In [22]:
# reset index on the description column
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [23]:
# converrt to html and save to the directory the notebook is running on
df.to_html('table.html')

## Mars Hemispheres

In [24]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [25]:
# MARS website to be scraped
url5 = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(url5)

In [26]:
# Create a beautiful soup object of the MArs html
html = browser.html
soup5 = bs(html,'html.parser')

In [27]:
# initialize the list variable
hemisphere_image_urls = []

In [28]:
# initialize a dictonary 
dict = {}

In [29]:
# get all the title
results = soup5.find_all('h3')

In [ ]:
# Loop through each result of the h3 heading tag collected by beautiful soup object 
for result in results:
    
    itema = result.text
    time.sleep(1)    
    browser.click_link_by_partial_text(itema)
    time.sleep(1)
    
    htmla = browser.html
    
    soupa = bs(htmla,'html.parser')
    time.sleep(1)
    
    # Grab the image link
    linka = soupa.find_all('div', class_="downloads")[0].find_all('a')[0].get("href")
    
    # Pass title to Dict
    
    time.sleep(1)
    dict["title"]=itema
    # Pass url to Dict
    dict["img_url"]=linka
    # Append Dict to the list 
    hemisphere_image_urls.append(dict)
    # Clean Up Dict
    dict = {}
    browser.click_link_by_partial_text('Back')
    time.sleep(1)

In [ ]:
# show the list
hemisphere_image_urls